<head>
	<meta charset="utf-8">
	<title>Dtalk 聊天室</title>
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />   
	<meta name="apple-mobile-web-app-capable" content="yes" />  
	<meta name="format-detection" content="telephone=no" />
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	<link rel="stylesheet" href="model.css">
	<link href="cover.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
	<script src="https://cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/js-sha1/0.6.0/sha1.min.js"></script>
	<script src="DtalkApi.js"></script>
	
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-129019507-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-129019507-1');
	</script>

	
</head>
<body>
	<div id="app" class="container">
	
		
	
		<div v-if="mispage" class="container">
		  

		  <main role="main" class="inner cover">
			<img class="mb-4" src="image/password2.png" alt="" width="72" height="72">
			<br>
			<h4 class="cover-heading">{{mispageMessage}}</h4>
			<br>
			<p v-if="!sexSelectView" class="lead">
				<input type="text" class="niname" v-on:keyup.enter="nameEnter" v-model="myname" placeholder="暱稱" required>
			</p>
			<p v-if="sexSelectView" class="lead">
				<img class="mb-4" @click="sexSelectSet('male')" src="image/male.svg" alt="" width="72" height="72">
				<img class="mb-4" @click="sexSelectSet('female')" src="image/female.svg" alt="" width="72" height="72">
			</p>
		  </main>

		</div>
		
		<vuefor v-if="!mispage" v-for="chat in chatJson">
			<div v-bind:class="chat.className">
				<message v-if="chat.type === 'status'">{{chat.content}}</message>
				<message v-if="chat.type === 'name'">{{chat.content}}</message>
				<div v-if="chat.type === 'message'" class="chatcontent">
					{{chat.content}}
				</div>
			</div>
		</vuefor>
	
		<nav v-if="!mispage && !setting" class="navbar fixed-bottom navbar-expand-sm navbar-dark chatNavbar">
		  <a class="navbar-brand" v-on:click="setbutton"><img src="image/loader2.gif" alt="Italian Trulli"></a>
		  
		  <input type="text" class="form-control" id="chat" v-model="message" v-on:keyup.enter="sellChat" placeholder="馬上加入聊天…" required>
		  <div class="navset">●online：{{online}}</div>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		</nav>
		
		<nav v-if="!mispage && setting"  class="navbar fixed-bottom navbar-expand-sm navbar-dark chatNavbar">
		  <a class="navbar-brand" v-on:click="setbutton"><img src="image/loader1.gif" alt="Italian Trulli"></a>
		  <div class="resetdiv"><button v-on:click="resetuser" type="button" class="btn btn-lg btn-block btn-primary resetbutton">重設帳號</button></div>
		  <div class="navset">●online：{{online}}</div>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		</nav>
		
		
		<div v-show="errorView" class="fixed-bottom navbar-expand-sm navbar-dark alert alert-danger errorView" role="alert">
		  <strong>錯誤： </strong> {{errorMessage}}
		</div>
		
	
    </div>
	
	 
	
	<script src="main.js"></script>
</body>
