body{
	    background: #f6f6f6;
		font-family: Roboto,Helvetica Neue,Helvetica,Arial,PingFang TC,黑體-繁,Heiti TC,蘋果儷中黑,Apple LiGothic Medium,微軟正黑體,Microsoft JhengHei,sans-serif;
}

.maleIcon{
    width: 40px;
    height: 40px;
	background: url(image/male.svg) no-repeat;
}

.femaleIcon{
    width: 40px;
    height: 40px;
	background: url(image/female.svg) no-repeat;
}

.PostAuthorHeader{
    width: 100%;
    font-size: 40px;
    line-height: 40px;
    margin-right: 15px;
	

}
.container{
	margin-left: 10px;
    margin-right: 10px;
	margin-bottom: 80px;
}
.chatcontent{		
    width: 100%;
	color: #323232;
    font-size: 16px;
    margin-left: 60px;
	
}

.PostAuthorName{
    width: 100%;
    height: 20px;
    font-size: 40px;
    line-height: 40px;
    margin-right: 15px;
	
    margin-bottom: 5px;
	
	 margin-left: 60px;
    width: 100%;
	color: #a8a8a8;
    font-size: 10px;

}

.PostAuthorStatus{
    width: 100%;
    height: 20px;
    font-size: 40px;
    line-height: 40px;
    margin-right: 15px;
	
    margin-bottom: 5px;
	
	margin-left: 100px;
    width: 100%;
	color: #a8a8a8;
    font-size: 10px;
	text-align:center;

}

.chatNavbar{
	background-color: #FFFFFF;
}

.niname{
	width: 200px;
  text-align:center;
}


.errorView{
    margin-bottom: 70px;
}
